@{
    Layout = null;
}


<div id="module_content">
    <div id="module_title">
        <span><span id="module_title_icon"></span>Ücretsiz Kargo</span>
    </div>
    <div id="ctl10_HtmlHolder">
        <img alt="" src="~/Content/themes/default/images/banner_kargo.jpg" width="188" />
    </div>
</div>