@{
    ViewBag.Title = "GizlilikPolitikasi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td id="center" valign="top">
                <div id="center_top">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tr></tr>
                    </table>
                </div>
                <div id="center_middle">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td id="middle_center" valign="top">
                                <div id="privacypolicy" class="module">
                                    <div id="module_content">
                                        <div id="module_title">
                                            <span><span id="module_title_icon"></span>Gizlilik Politikası</span>
                                        </div>
                                        <div>
                                            <div id="mail-content">
                                                <p>
                                                    <b>mmmm , kayıtlı Üyelerinden topladığı bilgilerin kullanımı ile ilgili politikası ve Üyelerin sahip olduğu haklar, aşağıda sıralanmıştır:</b>
                                                </p>
                                                <br>
                                                <b>1.</b> Elektronik posta adresiniz hiçbir gerekçe ile mmmm ve iştirakleri dışındaki kuruluşlara dağıtılarak reklam, tanıtım, pazarlama yapmak amacıyla kullanılmayacaktır.
                                                <br>
                                                <b>2.</b> Bize verdiğiniz üyelik bilgileri ve kişisel bilgiler, sizin onayınız dışında diğer üyelere açılmayacaktır. Ancak bu bilgiler, firmamızın kendi bünyesinde müşteri profili belirlemek amacıyla kullanılmaktadır.
                                                <br>
                                                <b>3.</b> Sisteme girdiğiniz tüm bilgilere sadece siz ulaşabilir ve bunları sadece siz değiştirebilirsiniz. Bir başka üyenin sizinle ilgili bilgilere ulaşması ve bunları değiştirmesi mümkün değildir.
                                                <br>
                                                <b>4.</b> Kayıt esnasında sizden istenen kişisel bilgilerden, zorunlu olanlar hariç, istediklerinizi kendi insiyatifiniz dahilinde bize bildirebilirsiniz. Bize vermeyi tercih etmeyeceğiniz bilgiler varsa, bu alanları doldurmak veya işaretlemek zorunda değilsiniz.
                                                <br>
                                                <b>5.</b> Sitemizden yaptığınız alışverşlerde vermiş olduğunuz kredi kartı bilgileri kesinlikle tarafımızdan kayıt altına alınmamaktadır.
                                                <p>Bu ilkeler ile kişisel haklarınız bizim tarafımızdan teminat altına alınmıştır.</p>
                                                <br>
                                                <b>Şirketimizin Güvenlik Politikası gereği;</b><br>
                                                <br>
                                                Müşterilerimizin güvenli bir şekilde, rahatça alışveriş yapabilmelerini sağlamak için en gelişmiş güvenlik sistemlerini kullanmaktadır.
                                                <p>
                                                    Sistemimizdeki 128 bit SSL sayesinde kredi kartı bilgileriniz üçüncü şahısların gözünden ve müdahalesinden korunmaktadır. Sipariş işlemlerinin bütün aşamasında tüm bilgi alışverişi SSL güvencesi altındadır ve tüm veri akışı şifreli olarak yapılmaktadır. Bu, pratik olarak kırılması mümkün olmayan bir şifrelemedir. SSL güvenlik protokolü sayesinde sitemize verdiğiniz kredi kartı bilgileriniz şifrelenerek bankaya gönderilir ve bu işlem sırasında bu bilgilere bizlerin dahi ulaşabilmesi mümkün değildir.
                                                </p>
                                                <p style="color: Red">
                                                    mmmm hiçbir müşterisinin kredi kartı bilgilerini sisteminde saklamamaktadır. Bu sebepten dolayı kendi kredi kartı güvenliğiniz için, her sipariş oluşturma aşamasında kart bilgilerinizi tekrar girmeniz gerekmektedir.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="center_bottom">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tr></tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
