@{
    ViewBag.Title = "KullanimKosullari";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td id="center" valign="top">
                <div id="center_top">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tr></tr>
                    </table>
                </div>
                <div id="center_middle">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td id="middle_center" valign="top">
                                <div id="termsofuse" class="module">
                                    <div id="module_content">
                                        <div id="module_title">
                                            <span><span id="module_title_icon"></span>Kullanım Koşulları</span>
                                        </div>
                                        <div>
                                            <div id="mail-content">
                                                <p><b>ÜYELİK SÖZLEŞMESİ ve KULLANIM KOŞULLARI</b></p>
                                                <p><b>1. Taraflar</b></p>
                                                <b>a)</b> http://demo.proticaret.org  internet sitesinin faaliyetlerini yürüten Ferah Mah. Alemdağ Yanyolu Cad. Kasran Plaza No:24 K:1 D:3 Çamlıca Üsküdar-İstanbul adresinde mukim demo.proticaret.org (Bundan böyle "mmmm" olarak anılacaktır).
                                                <br>
                                                <b>b)</b> http://demo.proticaret.org  internet sitesine üye olan internet kullanıcısı ("Üye")
                                                <p><b>2. Sözleşmenin Konusu</b></p>
                                                İşbu Sözleşme'nin konusu mmmm'nın sahip olduğu internet sitesi http://demo.proticaret.org 'dan üyenin faydalanma şartlarının belirlenmesidir.
                                                <p><b>3. Tarafların Hak ve Yükümlülükleri</b></p>
                                                <br>
                                                <b>3.1.</b> Üye, http://demo.proticaret.org  internet sitesine üye olurken verdiği kişisel ve diğer sair bilgilerin kanunlar önünde doğru olduğunu, mmmm'nın bu bilgilerin gerçeğe aykırılığı nedeniyle uğrayacağı tüm zararları aynen ve derhal tazmin edeceğini beyan ve taahhüt eder.
                                                <br>
                                                <b>3.2.</b> Üye, mmmm tarafından kendisine verilmiş olan şifreyi başka kişi ya da kuruluşlara veremez, üyenin sözkonusu şifreyi kullanma hakkı bizzat kendisine aittir. Bu sebeple doğabilecek tüm sorumluluk ile üçüncü kişiler veya yetkili merciler tarafından mmmm'ya karşı ileri sürülebilecek tüm iddia ve taleplere karşı, mmmm'nın sözkonusu izinsiz kullanımdan kaynaklanan her türlü tazminat ve sair talep hakkı saklıdır.
                                                <br>
                                                <b>3.3.</b> Üye http://demo.proticaret.org  internet sitesini kullanırken yasal mevzuat hükümlerine riayet etmeyi ve bunları ihlal etmemeyi baştan kabul ve taahhüt eder. Aksi takdirde, doğacak tüm hukuki ve cezai yükümlülükler tamamen ve münhasıran üyeyi bağlayacaktır.
                                                <br>
                                                <b>3.4.</b> Üye, http://demo.proticaret.org  internet sitesini hiçbir şekilde kamu düzenini bozucu, genel ahlaka aykırı, başkalarını rahatsız ve taciz edici şekilde, yasalara aykırı bir amaç için, başkalarının fikri ve telif haklarına tecavüz edecek şekilde kullanamaz. Ayrıca, üye başkalarının hizmetleri kullanmasını önleyici veya zorlaştırıcı faaliyet (spam, virus, truva atı, vb.) ve işlemlerde bulunamaz.
                                                <br>
                                                <b>3.5.</b> http://demo.proticaret.org  internet sitesinde üyeler tarafından beyan edilen, yazılan, kullanılan fikir ve düşünceler, tamamen üyelerin kendi kişisel görüşleridir ve görüş sahibini bağlar. Bu görüş ve düşüncelerin mmmm'yla hiçbir ilgi ve bağlantısı yoktur. mmmm'nın üyenin beyan edeceği fikir ve görüşler nedeniyle üçüncü kişilerin uğrayabileceği zararlardan ve üçüncü kişilerin beyan edeceği fikir ve görüşler nedeniyle üyenin uğrayabileceği zararlardan dolayı herhangi bir sorumluluğu bulunmamaktadır.
                                                <br>
                                                <b>3.6.</b> mmmm, üye verilerinin yetkisiz kişilerce okunmasından ve üye yazılım ve verilerine gelebilecek zararlardan dolayı sorumlu olmayacaktır. Üye, http://demo.proticaret.org  internet sitesinin kullanılmasından dolayı uğrayabileceği herhangi bir zarar yüzünden mmmm'dan tazminat talep etmemeyi peşinen kabul etmiştir.
                                                <br>
                                                <b>3.7.</b> Üye, diğer internet kullanıcılarının yazılımlarına ve verilerine izinsiz olarak ulaşmamayı veya bunları kullanmamayı kabul etmiştir. Aksi takdirde, bundan doğacak hukuki ve cezai sorumluluklar tamamen üyeye aittir.
                                                <br>
                                                <b>3.8.</b> İşbu üyelik sözleşmesi içerisinde sayılan maddelerden bir ya da birkaçını ihlal eden üye işbu ihlal nedeniyle cezai ve hukuki olarak şahsen sorumlu olup, mmmm'yı bu ihlallerin hukuki ve cezai sonuçlarından ari tutacaktır. Ayrıca; işbu ihlal nedeniyle, olayın hukuk alanına intikal ettirilmesi halinde, mmmm'nın üyeye karşı üyelik sözleşmesine uyulmamasından dolayı tazminat talebinde bulunma hakkı saklıdır.
                                                <br>
                                                <b>3.9.</b> mmmm'nın her zaman tek taraflı olarak gerektiğinde üyenin üyeliğini silme, müşteriye ait dosya, belge ve bilgileri silme hakkı vardır. Üye işbu tasarrufu önceden kabul eder. Bu durumda, mmmm'nın hiçbir sorumluluğu yoktur.
                                                <br>
                                                <b>3.10.</b> http://demo.proticaret.org  internet sitesi yazılım ve tasarımı mmmm mülkiyetinde olup, bunlara ilişkin telif hakkı ve/veya diğer fikri mülkiyet hakları ilgili kanunlarca korunmakta olup, bunlar  üye tarafından izinsiz kullanılamaz, iktisap edilemez ve değiştirilemez. Bu web sitesinde adı geçen başkaca şirketler ve ürünleri sahiplerinin ticari markalarıdır ve ayrıca fikri mülkiyet hakları kapsamında korunmaktadır.
                                                <br>
                                                <b>3.11.</b> mmmm tarafından http://demo.proticaret.org  internet sitesinin iyileştirilmesi, geliştirilmesine yönelik olarak ve/veya yasal mevzuat çerçevesinde siteye erişmek için kullanılan İnternet servis sağlayıcısının adı ve Internet Protokol (IP) adresi, Siteye erişilen tarih ve saat, sitede bulunulan sırada erişilen sayfalar ve siteye doğrudan bağlanılmasını sağlayan Web sitesinin Internet adresi gibi birtakım bilgiler toplanabilir.
                                                <br>
                                                <b>3.12.</b> mmmm kullanıcılarına daha iyi hizmet sunmak, ürünlerini ve hizmetlerini iyileştirmek, sitenin kullanımını kolaylaştırmak için kullanımını kullanıcılarının özel tercihlerine ve ilgi alanlarına yönelik çalışmalarda üyelerin kişisel bilgilerini kullanabilir. mmmm, üyenin http://demo.proticaret.org  internet sitesi üzerinde yaptığı hareketlerin kaydını bulundurma hakkını saklı tutar.
                                                <br>
                                                <b>3.13.</b> mmmm'ya üye olan kişi, yürürlükte bulunan ve/veya yürürlüğe alınacak uygulamalar kapsamında mmmm tarafından  kendisine ürün ve hizmet tanıtımları, reklamlar, kampanyalar, avantajlar, anketler  ve diğer müşteri memnuniyeti uygulamaları sunulmasına izin verdiğini beyan ve kabul eder.  Üye, mmmm'ya üye olurken ve/veya başka yollarla geçmişte vermiş olduğu ve/veya gelecekte vereceği kişisel ve alışveriş bilgilerinin ve alışveriş ve/veya tüketici davranış bilgilerinin  yukarıdaki amaçlarla toplanmasına, iştiraki olan tüm şirketler ile paylaşılmasına, mmmm ve iştiraki olan tüm şirketler tarafından kullanılmasına ve arşivlenmesine izin verdiğini beyan ve kabul eder. Üye aksini bildirmediği sürece  üyeliği sona erdiğinde de  verilerin toplanmasına, iştiraki olan tüm şirketler ile paylaşılmasına, mmmm ve iştiraki olan tüm şirketler tarafından kullanılmasına ve arşivlenmesine izin verdiğini beyan ve kabul eder. Üye aksini bildirmediği  sürece mmmm ve  iştiraki olan tüm şirketlerin  kendisi ile  internet, telefon, SMS,  vb iletişim kanalları kullanarak irtibata geçmesine izin verdiğini beyan ve kabul eder. Üye yukarıda bahsi geçen bilgilerin toplanması,  paylaşılması, kullanılması, arşivlenmesi ve kendisine erişilmesi nedeniyle doğrudan ve/veya dolaylı maddi ve/veya manevi menfi ve/veya müsbet, velhasıl herhangi bir zarara uğradığı konusunda talepte bulunmayacağını ve mmmm ve iştiraki olan şirketleri sorumlu tutmayacağını beyan ve kabul eder. Üye veri paylaşım tercihlerini değiştirmek isterse, bu talebini mmmm'nın müşteri hizmetleri çağrı merkezlerine  iletebilir.
                                                <br>
                                                <b>3.14.</b> mmmm, üyenin kişisel bilgilerini yasal bir zorunluluk olarak istendiğinde veya 
                                                <br>
                                                <b>a)</b> yasal gereklere uygun hareket etmek veya mmmm'ya tebliğ edilen yasal işlemlere uymak; 
                                                <br>
                                                <b>b)</b> mmmm ve mmmm web sitesi ailesinin haklarını ve mülkiyetini korumak ve savunmak için gerekli olduğuna iyi niyetle kanaat getirdiği hallerde açıklayabilir.
                                                <br>
                                                <b>3.15.</b> mmmm web sitesinin virus ve benzeri amaçlı yazılımlardan arındırılmış olması için mevcut imkanlar dahilinde tedbir alınmıştır. Bunun yanında nihai güvenliğin sağlanması için kullanıcının, kendi virus koruma sistemini tedarik etmesi ve gerekli korunmayı sağlaması gerekmektedir. Bu bağlamda üye mmmm web sitesi'ne girmesiyle, kendi yazılım ve işletim sistemlerinde oluşabilecek tüm hata ve bunların doğrudan yada dolaylı sonuçlarından kendisinin sorumlu olduğunu kabul etmiş sayılır.
                                                <br>
                                                <b>3.16.</b> mmmm, sitenin içeriğini dilediği zaman değiştirme, kullanıcılara sağlanan herhangi bir hizmeti değiştirme yada sona erdirme veya mmmm web sitesi'nde kayıtlı kullanıcı bilgi ve verilerini silme hakkını saklı tutar.
                                                <br>
                                                <b>3.17.</b> mmmm, üyelik sözleşmesinin koşullarını hiçbir şekil ve surette ön ihbara ve/veya ihtara gerek kalmaksızın her zaman değiştirebilir, güncelleyebilir veya iptal edebilir. Değiştirilen, güncellenen yada yürürlükten kaldırılan her hüküm , yayın tarihinde tüm üyeler bakımından hüküm ifade edecektir.
                                                <br>
                                                <b>3.18.</b> Taraflar, mmmm'ya ait tüm bilgisayar kayıtlarının tek ve gerçek münhasır delil olarak, HUMK madde 287'ye uygun şekilde esas alınacağını ve söz konusu kayıtların bir delil sözleşmesi teşkil ettiği hususunu kabul ve beyan eder.
                                                <br>
                                                <b>3.19.</b> mmmm, iş bu üyelik sözleşmesi uyarınca, üyelerinin kendisinde kayıtlı elektronik posta adreslerine bilgilendirme mailleri ve cep telefonlarına bilgilendirme SMS'leri gönderme yetkisine sahip olmakla beraber, üye işbu üyelik sözleşmesini onaylamasıyla beraber bilgilendirme maillerinin elektronik posta adresine ve bilgilendirme SMS'lerinin cep telefonuna gönderilmesini kabul etmiş sayılacaktır.
                                                <p><b>4. Sözleşmenin Feshi</b></p>
                                                İşbu sözleşme üyenin üyeliğini iptal etmesi veya mmmm tarafından üyeliğinin iptal edilmesine kadar yürürlükte kalacaktır. mmmm üyenin üyelik sözleşmesinin herhangi bir hükmünü ihlal etmesi durumunda üyenin üyeliğini iptal ederek sözleşmeyi tek taraflı olarak feshedebilecektir.
                                                <p><b>5. İhtilaflerin Halli</b></p>
                                                İşbu sözleşmeye ilişkin ihtilaflerde İstanbul Mahkemeleri ve İcra Daireleri yetkilidir.
                                                <p><b>6. Yürürlük</b></p>
                                                Üyenin, üyelik kaydı yapması üyenin üyelik sözleşmesinde yer alan tüm maddeleri okuduğu ve üyelik sözleşmesinde yer alan maddeleri kabul ettiği anlamına gelir. İşbu Sözleşme üyenin üye olması anında akdedilmiş ve karşılıklı olarak yürürlülüğe girmiştir.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="center_bottom">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tr></tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
